:root {
  --primary-color: white;
  --secondary-color: #ffc700;
  --box-shadow: 2px 2px 10px #gray;
}

html {
  height: 100%;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #1c2e4a;
}

.navbarItems a {
  font-size: 18px;
}

.heading {
  margin-top: 100px;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--primary-color);
}

h2 {
  font-size: 40px;
}
h1 {
  font-size: 52px;
}
h3 {
  font-size: 36px;
}

.navigationButtons {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
h4 {
  font-size: 40px;
  margin-bottom: 20px;
}

a {
  color: var(--primary-color);
  font-size: 24px;
}

.contactMe {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 10px;
  color: #333333;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.contactMe:hover {
  background-color: var(--primary-color);
}

.aboutMe {
  margin-left: 10px;
  padding: 10px;
  color: var(--secondary-color);
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.aboutMe:hover {
  color: var(--primary-color);
}

.backToHome {
  margin-top: 20px;
}

.backToHome a {
  font-size: 20px;
  color: antiquewhite;
}

.aboutBox {
  margin: 120px auto 80px auto;
  max-width: 800px;
}
.aboutBox h1 {
  margin-bottom: 20px;
  color: var(--secondary-color);
}
.aboutBox h3 {
  font-size: 20px;
}

.aboutDescription {
  margin: 20px 0 80px 0;
}
.aboutDescription p {
  color: var(--primary-color);
  line-height: 1.5;
  margin: 10px 10px 30px 10px;
  font-size: 18px;
  text-align: justify;
}

.contactBar {
  color: var(--secondary-color);
  text-align: center;
}
div.contactBar {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.contactLink {
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none;
}
.contactLink:hover {
  color: var(--secondary-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
    padding: 0 5px;
  }
  .navigationButtons a {
    font-size: 20px;
  }
  .descriptionOne {
    font-size: 18px;
    padding: 0 3px;
  }
}
