:root {
  --primary-color: white;
  --secondary-color: #ffc700;
  --box-shadow: 2px 2px 10px #gray;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #081a3d;
}

.navbarItems a {
  font-size: 18px;
}

.heading {
  margin: 0 0 0 5%;
  height: 100%;
}
.bg-img {
  position: relative;
  max-width: 720px;
  padding: 0;
  float: right;
  bottom: 12%;
}
.heading .row {
  align-items: center;
  position: relative;
  top: 20%;
  margin: 0 auto;
}

.content p {
  font-size: 18px;
}
h1,
h2,
h3 {
  text-align: left;
  color: var(--primary-color);
}

h2 {
  top: 50%;
  font-size: 42px;
}
h1 {
  font-size: 56px;
}
h3 {
  font-size: 34px;
}

h4 {
  font-size: 40px;
  margin-bottom: 20px;
}

.downLink {
  position: relative;
  animation-name: downArrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes downArrow {
  0% {
    top: 0px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}

.downLink a {
  color: var(--secondary-color);
  font-size: 30px;
}

.downLink a:hover {
  color: var(--secondary-color);
}
.downLink a:visited {
  color: var(--secondary-color);
}

.contentTitle {
  color: var(--secondary-color);
  text-align: center;
  font-size: 28px;
  margin: 50px auto 30px auto;
}
.aboutBox {
  margin: 120px auto 80px auto;
  max-width: 800px;
}
.aboutBox h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--secondary-color);
}
.aboutBox h3 {
  text-align: center;
  font-size: 20px;
}

.aboutDescription {
  text-align: center;
  margin: 20px 0 80px 0;
  color: var(--primary-color);
}
.aboutDescription p {
  text-align: center;
  color: var(--primary-color);
  line-height: 1.5;
  margin: 10px 10px 30px 0px;
  font-size: 18px;
}
.descriptionOne a {
  text-decoration: none;
  color: #885df1;
}
.skills li:first-child {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 20px;
}

.design li:first-child {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 20px;
}
.aboutDescription li {
  list-style: none;
}

.contactBar {
  color: var(--secondary-color);
  text-align: center;
}
div.contactBar {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.contactLink {
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none;
}
.contactLink:hover {
  color: var(--secondary-color);
}
.projectsContent {
  margin-top: 100px;
}
.projectsContent h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--secondary-color);
}

.projectsContent h2 {
  color: var(--primary-color);
  font-size: 20px;
}
.projectsContent h3 {
  color: var(--primary-color);
  font-size: 18px;
}
.contactContent {
  margin-top: 100px;
  padding: 0 5% 0 10%;
}

.contactContent h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--secondary-color);
}

.contactInfo {
  font-size: 28px;
  line-height: 2;
  color: var(--secondary-color);
  align-items: center;
}

.contactInfo a {
  color: var(--primary-color);
  text-decoration: none;
}
.contactInfo img {
  max-width: 700px;
  float: right;
  padding-right: 0;
}
footer {
  margin: 60px;
}

footer .contactBox {
  background-color: #1b2d507a;
  padding: 30px 30px;
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}
footer .contactBox h4 {
  font-size: 36px;
  margin: 0;
}
footer .contactBox p {
  margin: 0;
}
footer .socialLinks {
  text-align: center;
  margin-top: 30px;
}

footer .socialLinks a {
  font-size: 24px;
  color: var(--secondary-color);
  padding-left: 10px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
    padding: 0 5px;
  }

  .descriptionOne {
    font-size: 18px;
    padding: 0 3px;
  }

  .contentTitle {
    font-size: 24px;
  }
  .projectsContent h1 {
    font-size: 24px;
  }
  footer {
    margin: 20px 5px;
  }
  footer .contactBox {
    padding: 10px;
  }
  footer .contactBox h4 {
    font-size: 18px;
  }
  footer .contactBox p {
    font-size: 16px;
  }

  .contactInfo a {
    font-size: 18px;
  }
}
@media (max-width: 920px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
    padding: 0 5px;
  }
  .contactInfo a {
    font-size: 18px;
  }
  .projectsContent h1 {
    font-size: 26px;
  }
}
