:root {
  --primary-color: white;
  --secondary-color: #ffc700;
  --box-shadow: 2px 2px 10px #gray;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #081a3d;
}

.navbarItems a {
  font-size: 18px;
}

.heading {
  margin-left: 5%;
  height: 100%;
}
.bg-img {
  position: relative;
  max-width: 720px;
  padding: 0;
  float: right;
  bottom: 12%;
}
.heading .row {
  align-items: center;
  position: relative;
  top: 20%;
  margin: 0 auto;
}
h1,
h2,
h3 {
  text-align: left;
  color: var(--primary-color);
}

h2 {
  top: 50%;
  font-size: 42px;
}
h1 {
  font-size: 56px;
}
h3 {
  font-size: 34px;
}

h4 {
  font-size: 40px;
  margin-bottom: 20px;
}

.downLink {
  position: relative;
  animation-name: downArrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes downArrow {
  0% {
    top: 0px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}

a {
  color: var(--secondary-color);
  font-size: 24px;
}


.contentTitle {
  color: var(--secondary-color);
  text-align: center;
  font-size: 28px;
  margin: 50px auto 30px auto;
}
.aboutBox {
  margin: 120px auto 80px auto;
  max-width: 800px;
}
.aboutBox h1 {
  margin-bottom: 20px;
  color: var(--secondary-color);
}
.aboutBox h3 {
  font-size: 20px;
}

.aboutDescription {
  margin: 20px 0 80px 0;
}
.aboutDescription p {
  color: var(--primary-color);
  line-height: 1.5;
  margin: 10px 10px 30px 10px;
  font-size: 18px;
  text-align: justify;
}

.contactBar {
  color: var(--secondary-color);
  text-align: center;
}
div.contactBar {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.contactLink {
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none;
}
.contactLink:hover {
  color: var(--secondary-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
    padding: 0 5px;
  }
  .navigationButtons a {
    font-size: 20px;
  }
  .descriptionOne {
    font-size: 18px;
    padding: 0 3px;
  }
}
